.project__overlay {
    background-color: rgba(0, 0, 100, .8);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    opacity: 0;
  }
  
  .project__overlay:hover {
    opacity: 1;
  }