.menu__link {
    font-size: 18px;
    text-decoration: none;
    color: #10191E;
    margin-right: 20px;
  }
  
  .menu__link:last-of-type {
    margin-right: 0;
  }
  
  .menu__link_active {
    text-decoration: underline;
  }